@media (min-width: 1000px) {
  #navigator-toolbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #nav-bar {
    flex: auto;
    order: var(--uc-urlbar-position);
    width: var(--uc-urlbar-min-width);
  }

  /* #tabbrowser-tabs {
    width: 50vw !important;
  } */

  #nav-bar #urlbar-container {
    width: auto !important;
  }

  #titlebar {
    order: 2;
    width: calc(100vw - var(--uc-urlbar-min-width) - 1px);
  }

  #PersonalToolbar {
    /* visibility: collapse !important; */
  }

  #navigator-toolbox:focus-within #nav-bar {
    width: var(--uc-urlbar-max-width);
  }
  #navigator-toolbox:focus-within #titlebar {
    width: calc(100vw - var(--uc-urlbar-max-width) - 1px);
  }
}
